body{
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-size: 50px;
}

.highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}

.half-width img{
    width: 100%;
    
}